.App {
  flex-direction: column;
  text-align: center;
  display: flex;
}

.App-topbar {
  flex: 0 1 auto;
}

.App-content {
  flex: 5 1 auto;
  background-color: darkslategray;
}

.App-bottom-navbar {
  flex: 0 1 auto;
}
